.dasolo_shopify_connector_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.dasolo_shopify_connector_iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}
