.shopify_connector_dasolo_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.shopify_connector_dasolo_iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}
